html {
   font-family: raleway;
   font-size: 16;
}

header .navigation ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   list-style: none;
   flex-wrap: wrap;
   font-size: 1.8em;
}

.navigation li {
  font-weight: 200;
  letter-spacing: 0.15em;
  margin: auto;
  padding: 1em;
}



.navigation li.currentpage {
  color: black;
  font-size: 1.225em;
  font-weight: 700;
  letter-spacing: 0.25em;
}

.navigation li a:hover {
  color: black;
  text-decoration: underline;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.navigation li a {
  text-decoration: none;
  color: black;
  transition: letter-spacing 0.5s, font-weight.5s;
}

#banner {
  background-image: url("/images/india.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 30em;
  width: 100%;
}

#banner .content h1 {
  border: 0.1em solid white;
  position: relative;
  top: 3.75em;
  width: 50%;
  margin: auto;
  border-radius: 0.5em;
  padding: 1% 1%;
  color: white;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

